/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* COMMON */
.container{
    max-width: 62.5rem;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
/* MAIN */
.item{
    display: none;
    position: relative;
    width: 62.5rem;
    height: 25rem;
}
.show.item{
    display: flex;
}
.image{
    height: 100%;
    width: 75%;
    object-fit: cover;
}
.btn{
    position: absolute;
    min-height: 1.5625rem;
    min-width: 1.5625rem;
    border-radius: 50%;
    text-align: center;
    line-height: 1.5625rem;
    cursor: pointer;
}
.btn-up{
    top: .5rem;
    translate: -50%;
    left: 50%;
}
.btn-down{
    bottom: .5rem;
    translate: -50%;
    left: 50%;
    z-index: 100;
}
.text{
    position: absolute;
    right: 25%;
    bottom:0;
    max-width: 80%;
    padding: .625rem .3125rem;
    text-align: right;
    color:white;
}
.text h2{
    margin-bottom: .625rem;
}
.thumbnails img{
    max-width: 100%;
    height: calc(25rem / 5);
    object-fit: cover;
}
.thumbnails{
    display: flex;
    flex-direction: column;
    max-width: 25%;
    position: relative;
}
.border{
    border: 3px solid white;
}
.btn.start{
    left: .3125rem;
    top: .3125rem;
}
.btn.reverse{
    left: 4.0625rem;
    top: .3125rem;
}
.btn.stop{
    left: 2.1875rem;
    top: .3125rem;
}
.thumbnails img:not(.border){
    filter: grayscale(1);
}